name: Build and test

on:
    push:
        branches: [main]
        tags-ignore:
            - "*"
        paths:
            - .github/**
            - sqlean/**
            - src/**
            - test/**
            - Makefile
            - setup.py
    pull_request:
        branches: [main]
    workflow_dispatch:

jobs:
    download-sources:
        name: Download and store sources
        runs-on: ubuntu-latest
        steps:
            - name: Checkout sources
              uses: actions/checkout@v3

            - name: Download external sources
              run: |
                  make prepare-src
                  make download-sqlite
                  make download-sqlean

            - name: Store sources
              uses: actions/upload-artifact@v3
              with:
                  name: sources
                  path: |
                      MANIFEST.in
                      Makefile
                      README.md
                      setup.cfg
                      setup.py
                      sqlean
                      src
                      sqlite
                      test

    test:
        name: ${{ matrix.python-version }}
        runs-on: ubuntu-latest
        needs: download-sources
        strategy:
            fail-fast: false
            matrix:
                python-version: [3.7, 3.8, 3.9, "3.10", "3.11", "3.12-dev"]
        steps:
            - name: Download sources
              uses: actions/download-artifact@v3
              with:
                  name: sources

            - name: Setup Python
              uses: actions/setup-python@v4
              with:
                  python-version: ${{ matrix.python-version }}

            - name: Build and run tests
              env:
                  PYTHONPATH: ".:$PYTHONPATH"
              run: |
                  make clean
                  python setup.py build_ext -i
                  python -m test
