name: Publish to PyPI

on:
    push:
        tags:
            - "*"
    workflow_dispatch:

jobs:
    download-sources:
        name: Download and store sources
        runs-on: ubuntu-latest
        steps:
            - name: Checkout sources
              uses: actions/checkout@v3

            - name: Download external sources
              run: |
                  make prepare-src
                  make download-sqlite
                  make download-sqlean

            - name: Store sources
              uses: actions/upload-artifact@v3
              with:
                  name: sources
                  path: |
                      MANIFEST.in
                      Makefile
                      setup.cfg
                      setup.py
                      sqlean
                      src
                      sqlite
                      test

    build:
        name: Build wheels on ${{ matrix.os }}
        runs-on: ${{ matrix.os }}
        needs: download-sources
        strategy:
            matrix:
                # os: [ubuntu-latest, windows-latest, macos-latest]
                os: [windows-latest]
        steps:
            - name: Download sources
              uses: actions/download-artifact@v3
              with:
                  name: sources

            - name: Build wheels
              uses: pypa/cibuildwheel@v2.13.1
              env:
                  # only build windows for now
                  CIBW_BUILD: cp36-win_amd64
                  # architectures:
                  # - 64-bit linux
                  # - 64-bit windows
                  # - 64-bit macos (universal x86_64/arm64)
                  CIBW_ARCHS_LINUX: x86_64
                  CIBW_ARCHS_WINDOWS: AMD64
                  CIBW_ARCHS_MACOS: universal2
                  # disable builds:
                  # - musllinux
                  # - pypy
                  CIBW_SKIP: "*-musllinux_* pp*"

            - name: Store wheels
              uses: actions/upload-artifact@v3
              with:
                  name: wheels
                  path: ./wheelhouse/*.whl

    publish:
        name: Publish to PyPI
        needs: build
        runs-on: ubuntu-latest
        if: github.event_name == 'push' && startsWith(github.ref, 'refs/tags')
        permissions:
            id-token: write
        steps:
            - name: Download wheels
              uses: actions/download-artifact@v3
              with:
                  name: wheels
                  path: dist

            - name: Publish to PyPI
              uses: pypa/gh-action-pypi-publish@release/v1
